body {
  background: #f4f6f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* NAVBAR */
nav {
  background: #111827;
  padding: 15px 30px;
  display: flex;
  gap: 25px;
  text-align: right;
  justify-content: flex-end;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  text-align: right;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTAINER */
main {
  max-width: 900px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

/* TÍTULOS */
h1, h2, h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

/* FORM */
form {
  display: grid;
  gap: 15px;
}

input, button {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 15px;
}

input:focus {
  outline: none;
  border-color: #2563eb;
}

/* BOTÕES */
button {
  background: #2563eb;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* LISTA */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #f9fafb;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* STATUS */
#statusTitular {
  font-size: 14px;
  font-weight: 600;
}

/* SCANNER */
#scanner {
  width: 100%;
  height: 260px;
  background: #000;
  border-radius: 12px;
  display: none;
  margin-top: 15px;
}
#scanner video {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}